
  body {
    background-color: #d6f8b8;
    }

  h1, h3 {
    color: #6b7b8e;
  }
  p, li, ul {
    color: #8fbbaf;
  }

  img {
    border-radius: 55px;
  }
  hr {
    border-color: #8fbbaf;
    border-width: 10px;
    border-style: dotted none none;
    height: 0px;
    width: 8%;


  }
